<div class='container' id='nav'>
    <div class="header">
        <p id="loggedInParagraph" *ngIf=!loggedIn>Login or Sign up</p>
        <input class="loginInput" #userName (keyup)="saveName(userName.value)" type="text" placeholder="Username..." value="{{userame}}"><br>
        <div id="loggedOut" *ngIf=!loggedIn>
            <input class="loginInput" (keydown.enter)='login(userName.value, userPass.value)' #userPass type="password" placeholder="Password..."><br>
            <button id="loginButton" (click)='login(userName.value, userPass.value)' >Login</button>
        </div>
    </div>
    <div id="addContact"><h3>Add New Contact</h3>
        <input id="contactNameInput" (keydown.enter)='newDoc(contactNameInput.value, userName.value); contactNameInput.value=""' #contactNameInput type="text" placeholder="Enter Name..."><br>
        <button id="addContButton" (click)='newDoc(contactNameInput.value, userName.value); contactNameInput.value=""' >Add</button>
    </div>

    <span [class.selected]='docId === currArr2' (click)='loadDoc(docId, userName.value); hideNav(); this.globals.userName=userName.value' *ngFor='let docId of documents | async'>{{ docId[1] }} </span>
    <br>
</div>
